.title img {
  width: 45%;
}

a,
button {
  cursor: pointer;
}

/*Container*/
#container {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: large;
  text-decoration: dashed;
}

/*Header*/
/*Presentation Welcome Page*/
#presentation_welcome_page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#presentation_welcome_page button {
  border: 1px solid #9356dc;
  width: 220px;
  height: 45px;
  border-radius: 30px;
  background: linear-gradient(#9356dc, #ff79da);
  color: white;
  box-shadow: 1px 1px 1px 1px gray;
}

#presentation_welcome_page button:hover {
  transform: scale(1.08);
}

#presentation_welcome_page button:focus {
  background: linear-gradient(#8a52ce, #cc65af);
}

.title {
  text-align: center;
  margin: 15px auto 5px;
}

.localisation {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  background: lightgray;
  align-items: center;
  border-top: 2px solid #b5b5b5;
}
.localisation i {
  padding-right: 20px;
}

.reserve_and_research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  width: 100%;
}
.reserve_and_research h2 {
  text-align: center;
  margin-bottom: 0px;
  padding-right: 30px;
  padding-left: 30px;
}
.reserve_and_research p {
  text-align: center;
}
.reserve_and_research form {
  display: flex;
  justify-content: center;
  margin: 25px auto 40px;
}

/*Presentation Welcome Page End*/
/*Header End*/
/*Menu*/
.menu {
  display: flex;
  flex-wrap: wrap;

  ol {
    width: 100%;
    list-style-type: none;
    counter-reset: numberlist;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    position: relative;
    margin-bottom: 35px;
    height: 50px;
    margin-right: 15px;

    :hover {
      background-color: #fae5fa;
      cursor: pointer;
    }

    :focus {
      background-color: #fae5fa;
    }
  }

  li::before {
    content: counter(numberlist);
    counter-increment: numberlist;
    border: 2px solid #8a52ce;
    border-radius: 100%;
    color: #f2f2f2;
    background-color: #8a52ce;
    margin-right: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: -10px;
  }

  i {
    margin-right: 15px;
    margin-left: 35px;
  }
}

.fonction_content {
  margin-bottom: 5px;
  border: 0px solid #f2f2f2;
  background-color: #f2f2f2;
  width: 300px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px 1px grey;

  &:hover i {
    color: #8a52ce;
  }

  &:hover {
    box-shadow: 5px 5px 15px 5px grey;
    transition: 0.5s;
  }
}
.title_menu {
  margin-left: 15px;
}

/*Menu End*/
/* Flexible_Welcome_Page_Restaurant_Section */
#restaurants {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.restaurant_title {
  margin-left: 25px;
}

.flexible_welcome_page_restaurant_section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.links_card {
  width: 100%;
  text-decoration: none;
  color: black;
  margin: 10px 10px 30px 10px;
}

.restaurant_card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
  width: 100%;
  height: 230px;
}

.restaurant_card_header {
  height: 70%;
  width: 100%;
}
.legend_image {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  border: 2px solid #7acac3;
  background: #7acac3;
  color: #0f6f0f;
  font-weight: 400;
}

.restaurant_card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  height: 100%;
}

.content_restaurant_card {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.restaurant_name {
  font-weight: 900;
}
/*
.restaurant_card :hover{
transform: scale(1.08);
}
*/
.restaurant_localisation {
  font-weight: 300;
}

.like_button i {
  margin-top: 5px;
  font-size: x-large;
}

.like_button i:hover {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#cc65af, #8a52ce);
  font-weight: bold;
  scale: 1.08;
  transition: 1.5s;
}

/* Flexible_Welcome_Page_Restaurant_Section */

/*Container End*/

/*Footer*/

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: dimgray;
  color: whitesmoke;
}

.content_footer {
  display: flex;
  flex-direction: column;
  width: 368px;
  margin-left: 25px;
  margin-top: 25px;
}

.proposition_list_1 i {
  margin-right: 14px;
}

.proposition_list_2 i {
  margin-right: 8px;
}

.title_footer {
  font-family: "Shrikhand", cursive;
}

.others_links ul {
  list-style: none;
  padding-left: 0px;

  li {
    margin-bottom: 5px;
  }
}

/*Footer End*/

/* screen >375px*/

@media screen and (min-width: 376px) {
  body {
    width: 100%;
  }
  /*Menu*/
  .button_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .button_menu li {
    margin-right: 15px;
  }
  .title_menu {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /*Menu End*/

  /* Flexible_Welcome_Page_Restaurant_Section */
  .flexible_welcome_page_restaurant_section {
    justify-content: center;
  }
  .links_card {
    width: 100%;
  }
  .restaurant_card {
    flex-direction: row;
  }
  .restaurant_card_header {
    height: 100%;
    width: 100%;
  }
  .legend_image {
    left: 15px;
  }
  .restaurant_card img {
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }
  .content_restaurant_card {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-left: 15px;
    flex-direction: column;
    width: 30%;
    padding-left: 15px;
    padding-top: 10px;
  }
  .information_restaurant {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #0087ff;
    padding-top: 15px;
    border-bottom: 1px solid #0087ff;
    padding-bottom: 15px;
  }

  .restaurant_name {
    margin-bottom: 15px;
  }

  .like_button {
    display: flex;
    justify-content: flex-end;
  }

  /* Flexible_Welcome_Page_Restaurant_Section End */

  /* Footer*/

  footer {
    flex-wrap: wrap;
    justify-content: initial;
  }
  .title_footer {
    text-align: center;
    width: 100%;
  }
  .content_footer {
    width: 100%;
    flex-wrap: wrap;
  }
  .others_links {
    display: flex;
    width: 80%;
    ul {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
    li {
      margin-right: 15px;
    }
  }

  /* Footer End*/
}

/* screen >366px End*/

/* screen >768px*/

@media screen and (min-width: 769px) {
  body {
    width: 100%;
  }
  .links_card {
    width: 45%;
  }
}
/* screen >768px End */

@media screen and (min-width: 1281px) {
  body {
    width: 100%;
  }
}

/*Footer*/ /*# sourceMappingURL=style.css.map */
